@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}
body{
    background-image: url(img/Tela_Cadastro/background-login_e_cadastrar.jpg);
    background-size: 100%;
    background-position-y: 18%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.quadro{ 
    width: 100%;
    padding-top: 35px;
    flex-direction: column;
    justify-content: center;
    font-family: athiti;    
}

.titulo_texto_cadastrar{
    padding-left: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;    
    color: aliceblue;
    font-family: 'DynaPuff', cursive;
}

.dados_usuario{
    margin-left: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: athiti;
}

.dados_usuario form{
    width: 90%;
    margin: 10px;
}

.dados_usuario label{
    font-size: 130%;
    color: aliceblue;
    font-weight: 300;
}

.dados_usuario input{
    color: rgb(0, 0, 0);
    height: 30px;
    border-style: none;
    border-bottom-style: double;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(226, 251, 211);
    padding-left: 5px;
    margin: 10px;
}

.label_erro{
    visibility: hidden;
}

#erro{
    color: red;
    visibility: visible;
}

.dados_usuario input::placeholder{
    color: black;
    font-family: athiti;
    text-align: right;
    margin-left: 7px;
    font-size: medium;
}

.dados_usuario input:focus{
    background-color: white;
    border-radius: 10px;
}
.bt_volta_login{
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.logo{
    display: flex;
    background-image: url(img/Logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin-left: 58%;
    margin-top: -20%;
}

#voltar{
    color: rgb(255, 255, 255);
}

#voltar :hover{
    background-color: rgb(167, 236, 156);
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 130%;
}

#email{
    width: 50%;
}

#bt_cadastra{

}

