@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}
body{
    background-image: url(img/Tela_Cadastro/background-login_e_cadastrar.jpg);
    background-size: 100%;
    background-position-y: 18%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}