@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}
body{
    background-image: url(img/Tela_Cadastro/background.jpg);
    background-size: 100%;
    background-position-y: 19%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.quadro{
    display: flex;
    margin-top: 1%;
    width: 62.8%;
    height: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: athiti;
}

.logo_e_input{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#texto_titulo{
    text-align: center;
    font-size: 40px;
    font-family: 'DynaPuff', cursive;
    color: rgb(255, 240, 240);
    margin-top: 9%;
}

.dados_usuario{
    display: flex;
    align-items: flex-start;
    font-family: athiti;
    width: 60%;
    height: 90%;
}
.entrada{
    text-align: center;
    margin-left: 18%;
    width: 60%;
    height: 90%;
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.label_input{
    width: 100%;
}

.label_input label{
    font-size: 110%;
    color: rgb(255, 255, 255);
    font-weight: 200%;
}   

.entrada input{
    color: rgb(0, 0, 0);
    height: 70%;
    width: 70%;
    border-style: none;
    border-bottom-style: double;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(205, 233, 185);

    text-align: center;

    margin-top: 1%;
}


.logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Bt_retorna{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.label_erro_off{
    display: none;
}
.erro_on{
    display: inline;
}
.dados_usuario input::placeholder{
    color: black;
    font-family: athiti;
    text-align: right;
    margin-left: 7%;
    font-size: medium;
}
.dados_usuario input:focus{
    background-color: white;
    border-radius: 10px;
}
.bt_volta_login{
    margin-left: 65%;
    margin-top: 10%;
}

#bt_cadastra{
    height: 10%;
    width: 30%;
    border-radius: 40px;
    border-color: rgb(48, 54, 44);
    background-color: rgb(205, 233, 185);
    border-style: double;
}
#bt_cadastra:hover{
    width: 35%;
    font-size: large;
    transition: 300ms;
}
#erro{
    color: red;
}


.Bt_retorna{
    text-align: center;
    width: 100%;
    padding-top: 20%;
}

#A_Bt_Retorna{
    text-decoration: none;
    width: 100%;
    margin-left: 30%;
}


#texto_retorna{    
    font-size: 18px;
    font-family: 'DynaPuff', cursive;
    height: 8%;
    width: 70%;
    color: rgb(209, 227, 243);
}
#A_Bt_Retorna :hover{  
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    color: aliceblue;
    background-color: rgba(87, 114, 87, 0.432);
    transition: 300ms;
}

#dataNascimento{
    width: 40%;
    text-align: center;
}

