@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/*zerando prédefinição do google e adicionadno a fonte padrão*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Handlee', cursive;
}
/*setando dimensões padrao da pagina e background*/
body{
    background-image: url("img/fundo_exercicio.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 198vh;
    height: 100vh;
}
/*setando dimensões da div que vai recerber todos os elementos*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*Definindo os elementos dos 2 quadros da pagina juntos*/
.quadro{
    width: 50%;
    display: flex;
}

.select_nivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 70%;
    height: 50%;
}

.select_nivel p{
    font-size: 40px;

    border-bottom: double black 2px;
    color: #000000;
}
.select_nivel form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.select_nivel form input{
    background-color: #3b004dbd;
    
    width: 40%;
    
    text-align: center;
    text-justify: kashida;

    margin-top: 7%;
    
    text-decoration: none;
    
    border-style: solid;
    border-width: 1px;  
    border-radius: 30px;
    border-color: black;
    
    color: rgb(255, 255, 255);
    font-size: 110%;
}

.select_nivel form input:hover{
    background-color: #e3cfe9;
    color: black;


    transform: scale(1.8);

    transition: 0.4s;
}


/*quadro da esquerda*/
#Quadro_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 4%;

    background-color: rgba(250, 255, 194, 0.4);

    border-right: 1px solid black;
}



#esquerda{
    background-color: rgb(211, 211, 255);
    
    border: rgb(164, 164, 206) 5px solid;  
    border-radius: 30px;
}

.bt_voltar_div {
    width: 100%;
}

#back{
    width: 20%;
}
/*quadro da direita*/
#Quadro_2{
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4%;

    background-color: rgba(197, 194, 255, 0.4);
}
#direita{
    background-color: rgb(213, 255, 215);
    border: rgb(156, 185, 157) 5px solid;  
    border-radius: 30px;
}
