/* paginação incial */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'DynaPuff', cursive;
    background-image: url("img/backgruond_livrinhos.jpg");
    background-size: 130%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    width: 99.8vmax;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*cabeçario*/
.cabecario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    background-color: rgb(85, 94, 173);
    margin-bottom: 0.8%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cabecario img{
    align-self: center;
    height: 85%; 
    padding-left: 40px;
    padding-right: 40px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#titulo_cabecario{
    font-size: 300%;
    color: transparent;
    background-image: url("img/gradient.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}



/*Botão de volta*/
.bt_voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 100%;
    height: 3%;
}
#bt_voltar{
    text-decoration: none;
    text-align: center;
    height: 80%;
    width: 5%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(209, 240, 255);
    border-style: solid;
    margin-top: 3%;
    margin-bottom: 2%;
    transition: 0.5s;
}
#bt_voltar:hover{
    height: 95%;
    width: 10%;
    background-color: rgb(73, 194, 255);
    border-style: dashed;
    margin-top: 3%;
    margin-bottom: 2%;
}

/*corpo*/
.conteudo_sobre_nos{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    background-color: rgb(208, 209, 236);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border: solid black 2px;
    border-bottom: none;
}
.bloco_de_texto{
    margin-top: 1%;
    width: 80%;
}

#titulo_corpo{
    text-align: center;
    font-size: 180%;
}
#texto{
    text-indent: 2%;
    text-align: justify;
    font-size: 110%;
}
#nomes{
    margin-left: 10%;
    color: rgb(29, 5, 56);
    text-decoration: underline black 1px;
    font-size: 115%;
}
#texto_sitacao{
    text-indent: 2%;
    text-align: justify;
    font-size: 115%;
    color: rgb(138, 138, 138);
}