/* pré formatação padrao da pagina */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(160, 158, 137);
    background-image: url("img/backgruond_livrinhos.jpg");
    background-size: 130%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 52%;
    background-position-y: -30%;
    font-family: 'DynaPuff', cursive;
    display: flex;
    flex-direction: column;
    width: 198vh;
    height: 100vh;
    justify-content: space-between;
    
}

/* Cabeçario com os 3 botoes principais */
.cabecario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(200, 200, 255);
    border-style: solid;
    border-color: black;
    padding-top: 1%;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Trabalhando na main*/
main{
    padding-top: 1%;
    margin-left: 32%;
}

/* Desgin da fonte do titulo da pagina: Conteudos*/
#pag_nom{
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 71px;
    color: #000000;
}

/* Formatação da logo no canto superior central da página */
#img{
    transform: rotate(8deg);
    width: 40%;
}


/* Formatação da tela flutuante*/
#tela_perfil{
    z-index: 3;
}

.display_flutuante{
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    width: 50%;
    height: 300px;
    margin-top: -5.5%;
    margin-bottom: 2%;
    margin-left: 38%;
    border-style: solid;
    border-radius: 30px;
}

/* editando divs de dentro da div flutuante */
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.imagem img{
    width: 60%;
}
.usuario{
    width: 100%;
    padding-top: 5%;
    background-color: rgba(172, 144, 107, 0.356);
}
.nome_usuario p {
    text-align: center;
    width: 100%;
    font-size: 200%;
}
.dados_usuario{
    display: flex;
    padding-left: 8%;
    padding-top: 0.4%;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}
.pai_dados{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.pai_dados p{
    width: 100%;
    padding-top: 2%;
    padding-left: 3%;
    border-bottom: 1px black solid;
    border-width: 10%;
    font-size: 110%;
    display: flex;
    justify-content: space-between;
}

.sair{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2%;
    width: 10%;
}

/* Botões */
.botoes_saida{
    width: 85px;
    margin-top: 8%;
    height: 30px;
}

#bt_sair{
    height: 15%;
    width: 85%;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(209, 240, 255);
    border-style: solid;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;

}

#bt_sair:hover{
    transition: 0.5s;
    height: 15%;
    width: 90%;
    border-color: rgb(0, 0, 0);
    background-color: rgb(73, 194, 255);
    border-style: dashed;
    margin-top: 3%;
    margin-bottom: 2%;
}

.esquerda{
    font-size: 110%;
}

.direita{
    padding-right: 3%;
}

/* Swiper Cpmteudo do swiper com os livrinhos */
.bloco_do_swiper{
    margin-top: -7%;
}
.img_livros_swipe{
    width: 45%;
}

.swiper {
    width: 30%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    width: 75%;
    padding-bottom: 10%;
}


/*Rodapé*/

footer{
    display: flex;
    align-self: center;
    justify-self: end;
    justify-content: center;
    align-items: center;
    width: 60%;
}
#texto_bt_quem_somos{
    font-size: 90%;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 2%;
}

#bt_quem_somos{
    margin-top: 1%;
    margin-bottom: 1%;

    height: auto;
    width: 20%;

    text-align: center;
    text-decoration: none;


    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(209, 240, 255);
    border-style: solid;
}
#bt_quem_somos:hover{
    transition: 0.5s;

    width: 25%;

    border-color: rgb(0, 0, 0);
    background-color: rgb(73, 194, 255);
    border-style: dashed;
}
#texto_bt_quem_somos:hover{
    color: aliceblue;
    font-size: 110;
}