@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(216, 255, 255);
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position-y: 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 52%;
    font-family: 'DynaPuff', cursive;
}

main{
    width: 202.5vh; 
    height: 100vh;
}

/*Grupo para ordena os conteudos e o menu lateral*/
.conteudo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*Menu lateral -ficará invisivel-*/
.menu_lateral{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    height: 100vh;
    width: 30vh;
}
.menu{
    background-color: #ACDAC7;
    width: 23vh;
    height: 60vh;
    margin-top: 2%;
    border: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bt_lateral{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    margin-left: -3px;
    background-color: #ACDAC7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 3px black;
    border-left: none;
}
.bt_lateral a img{
    width: 5vh;
    margin-left: 8px;
}

.bt_voltar_div{
    margin-top: 10px
}
.bt_voltar_div img{
    width: 80%;
}
.menu_lateral_andante{
    display: flex;
    flex-direction: row;
    width: 120%;
    height: 70%;
}

#soma{
    margin-top: 10%;
}

#soma, #subtracao, #multiplacao, #exercicios{
    padding: 2px;
    background-color: rgb(207, 171, 240);
    border: 1.5px solid black;
    margin-bottom: 15px;
    width: 80%;
    font-size: 110%;
}
a #soma, a #subtracao, a #multiplacao, a #exercicios{
    text-decoration: none;
    color: black;
    padding-left: 6%;
}

/*Grupo dos conteudos*/
.conteudos_bloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 100%;
}
.titulo_conteudo{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #ACDAC7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 10%;
    text-align: center;
    border: 3px solid black;
    border-bottom: none;
}
#texto_titulo{
    font-size: 150%;
    font-family: 'Pacifico', cursive;
    text-decoration: underline 1px solid black;

}
.Corpo_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ACDAC7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    row-gap: 3%;
    width: 70%;
    height: 80%;  
    border: 3px solid black;
    border-bottom: none;
}
#conteudo_texto{
    margin-top: 10%;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    font: bolder;
}

.bt_menu a{
    text-decoration: none;
}