@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');

*{
    padding: 0;
    margin: 0;
}
/* pré-sets geral */
body{
    background-color: rgb(216, 255, 255);
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position-y: 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 52%;
    font-family: 'DynaPuff', cursive;
    /*overflow: hidden;*/
}
/* fim pré sets*/

/* corpo geral*/
/* Aqui vai o bloco pai de tudo e tambem os 2 blocos laterais (conteudo e menu)*/
main{
    width: 100vmax; 
    height: 100vh;
}

.conteudo{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.menu_lateral /* Menu flutuante*/{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%; 
    justify-content: space-between;
}

.conteudos_bloco /* Corpo site */{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 95%;
    padding-top: 2%;

    align-self: flex-end;
}

.Div_bt_exercicios{
    display: flex;
    width: 10%;
    height: 100%;
}
/* Fim corpo geral*/

/* Menu lateral */

.menu_lateral_andante{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 5%;
}

.menu{
    background-color: #bdb8ce;
    width: 80%;
    margin-top: 2%;
    border: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bt_lateral{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 45%;
    margin-left: -3px;
    background-color: #bdb8ce;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 3px black;
    border-left: none;
}
.bt_lateral a img{
    width: 40%;
    margin-left: 30%;
}

.bt_voltar_div img{
    width: 65%;
}

#soma, #divisao, #subtracao, #multiplacao{
    padding: 2px;
    background-color: rgb(207, 171, 240);
    border: 1.5px solid black;
    margin-top: 15px;
    width: 80%;
    font-size: 110%;
}
a #soma, a #divisao, a #subtracao, a #multiplacao{
    text-decoration: none;
    color: black;
    padding-left: 6%;
}

/* Fim menu lateral */

/* corpo da pagina*/

.titulo_conteudo{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #545454;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 10%;
    text-align: center;
    border: 3px solid black;
    border-bottom: none;
}
#texto_titulo{
    color: white;
    font-size: 150%;
    font-family: 'Pacifico', cursive;
    text-decoration: underline 1px solid white;

}
.Corpo_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #545454;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    row-gap: 3%;
    width: 90%;
    height: 100%;  
    border: 3px solid black;
    border-bottom: none;
}
#corpo{
    margin-top: 1%;
    width: 95%;
    height: 100%;
}

.bt_menu a{
    text-decoration: none;
}

/*bt exercicios*/
#img_voltar{
    align-self: center;
    justify-content: center;
}
#img_bt_exercicio:hover{
    transform: scale(1.5);
    transition: 2s;
}