@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;
}

body{
    background-image: url("img/fundo_exercicio.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main{
    height: 100vh;
}

#titulo{
    font-family: 'Handlee', cursive;
    font-size: 400%;
}

.trilho_titulo{ 
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    background-color: #F6EFEF;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-width: 3px;
    border-bottom-right-radius: 40px;
}

.pontos{
    background-color: #F6EFEF;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-top: none;
    border-right: none;
    border-width: 3px;
    border-bottom-left-radius: 40px;
}

#pontos{
    font-family: 'Handlee', cursive;
    font-size: 250%;
}

.pontos img{
    margin-left: 30px;
    height: 70%;
}

.centro{
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centro form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pulaEx{
    margin-top: 5%;
    width: 20%;
    height: 4vh;
    border-radius: 10px;
}

.quadro_conta{
    background-color: #F6EFEF;
    height: 50%;
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.quadro_tentativa{
    display: none;
    background-color: #F6EFEF;
    height: 50%;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
}

#tentativa_excedida{
    font-size: 40pt;
    font-family: 'Hepta Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.trilho_tentativa{
    display: none;
    width: 100%;
    border: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#link{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#voltaHome{
    width: 80%;
}

.grupo_voltar{
    background-color: rgb(188, 188, 188);
    width: 18%;
    height: 45%;
    border: solid 2px black;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.grupo_voltar a{
    height: 100%;
    margin: 2%;
}
.grupo_voltar a img{
    width: 30%;
    margin: 2%;
}
#lateral_bt_casa{
    margin-left: 8%;
}


.conta{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conta p{
    font-size: 70pt;
    font-family: 'Hepta Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span p{
    margin: 10px;
    font-size: x-large;
}

#imgInterrog{
    margin-left: 15px;
}
.form_resp{
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form_resp form{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form_resp form label{
    margin-right: 1vw;
    font-size: 30pt;
}
.input{
    border-radius: 10px;
}
.trilho_inferior{
    width: 100%;
}

#inpResposta{
    width: 40%;
    height: 4vh;
    text-align: center;
}

#inpResposta::placeholder{
    width: 100%;
}

#btnEnvia{
    width: 25%;
    height: 4vh;
    margin-left: 1vw;
    background-color: #7b7f8a;
}